@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400&family=Ubuntu+Condensed&display=swap");

body {
  font-family: Inter;
}
header {
  max-width: 1240px;
  flex: 1 1 auto;
}
.header__container {
  height: 90px;
  @media (max-width: 600px) {
    height: 140px;
  }
  @media (max-width: 400px) {
    height: 160px;
  }
}
.button__contact {
  background: #dd7979;
  border-radius: 10px;
  height: 56px;
  width: 130px;
  color: #ffffff;
  text-align: center;
  @media (max-width: 500px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.main__container {
  max-width: 1440px;
}
main {
  background: #fff4f4;
  height: 800px;
}
.image__first {
  height: 400px;
  left: 72.22%;
  right: 0%;
  bottom: 33, 9000rem;
}
.main__title {
  padding-top: 135px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #dd7979;
  margin-bottom: 9px;
}
.main__subtitle {
  color: #744343;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.main__text {
  color: #967272;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }
}
.main__buttons {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #744343;
}
.main__button {
  background: #dd7979;
  border-radius: 10px;
  width: 166px;
  height: 58px;
}
.main__button_active {
  border: 2px solid #dd7979;
  border-radius: 10px;
  width: 166px;
  height: 58px;
}
.page__image {
  img {
    border-radius: 35px;
  }
  bottom: 169px;
}

.second__main {
  background: #dd7979;
  border-radius: 25px;
  min-height: 820px;
}
.main__numbers {
  height: 218px;
  width: 267px;
  background: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #744343;
}
.number__text {
  color: #dd7979;
}
.main__number_left {
  // 45+
  border-radius: 0 35px 35px 0;
  @media (max-width: 1023px) {
    border-radius: 0px 0px 35px 35px;
  }
  @media (max-width: 532px) {
    border-radius: 0px 0px 35px 35px;
  }
}
.main__number_center {
  // 6+
  @media (max-width: 1023px) {
    border-radius: 0px 35px 35px 0px;
  }
  @media (max-width: 532px) {
    border-radius: 0;
  }
}
.main__number_right {
  // 5+
  border-radius: 35px 0 0 35px;
  @media (max-width: 1023px) {
    border-radius: 35px 0px 0px 35px;
  }
  @media (max-width: 532px) {
    border-radius: 35px 35px 0px 0px;
  }
}
.h-20 {
  height: 100px;
}
.landing {
  background: #fff4f4;
}
.block__text {
  color: #744343;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
}
.block__bg {
  background: #ffffff;
  max-width: 520px;
  max-height: 428px;
  box-shadow: 0px 3px 12px rgba(116, 67, 67, 0.1);
  border-radius: 10px;
  @media (max-width: 1024px) {
    align-items: center;
    margin: 0;
  }
}
.landing__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #744343;
}
.landing__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #dd7979;
}
.wave__background {
  background-image: url(../src/img/Vector.svg);
  background-repeat: repeat-x;
  width: 100%;
  @media (max-width: 1024px) {
    display: none;
  }
  .dark & {
    background-image: url(../src/img/Vectorblack.svg);
  }
}
.carts__title {
  letter-spacing: 2px;
  color: #dd7979;
  padding-top: 120px;
}
.carts__subtitle {
  line-height: 58px;
  color: #744343;
}
.cart {
  background: url(../src/img/IMAGEYellow1.png), no-repeat #ffffff;
  // box-shadow: 0px 1px 3px rgba(116, 67, 67, 0.1);
  background-size: 100% 100%;
  width: 433px;
  height: 312px;
  border-radius: 20px;
  @media (max-width: 400px) {
    width: 300px;
  }
}
.cart__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #744343;
  @media (max-width: 400px) {
    margin-bottom: 10px;
  }
}
.cart__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #967272;
}
.cart__third {
  background: url(../src/img/IMAGEFourth.png), no-repeat #ffffff;
}
.cart__second {
  background: url(../src/img/IMAGEPurple.png), no-repeat #ffffff;
  @media (max-width: 400px) {
    width: 300px;
  }
}
.cart__fourth {
  background: url(../src/img/IMAGECart.png), no-repeat #ffffff;
}
.cart__fifth {
  background: url(../src/img/IMAGEFifth.png), no-repeat #ffffff;
}
.cart__sixth {
  background: url(../src/img/IMAGESixth.png), no-repeat #ffffff;
  margin-bottom: 20px;
}
.cart__text_active {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #dd7979;
  position: relative;
  bottom: 3px;
}
.items__bg {
  background-color: white;
}
.wave_background_second {
  background-image: url(../src/img/Vector1.svg);
  background-repeat: repeat-x;
  width: 100%;
  height: 100%;
  background-color: #fff4f4;
  background-position: center;
  @media (min-width: 1921px) {
    height: 1132px;
  }
  @media (max-width: 1024px) {
    display: none;
  }
  .dark & {
    background-image: url(../src/img/Vector1black.svg);
  }
}
.items__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #744343;
}
.items__item {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 106px;
  width: 370px;
  margin-bottom: 16px;
  color: #744343;
  @media (max-width: 1024px) {
    align-items: center;
    margin: 0;
  }
}
.items__item_active {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 570px;
  height: 106px;
  margin-bottom: 236px;
  @media (max-width: 1024px) {
    margin: 0;
    width: 370px;
    text-align: center;
  }
}
.items__item_first {
  margin-right: 15px;
  @media (max-width: 1024px) {
    margin: 0;
  }
}
.items__item_second {
  margin-left: 15px;
  @media (max-width: 1024px) {
    margin: 0;
    margin-bottom: 30px;
  }
}
.message {
  margin-top: 1px;
  height: 100%;
  width: 100%;
  padding-bottom: 44px;
}
.message__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #dd7979;
  position: relative;
}
.message__subtitle {
  color: #744343;
  line-height: 58px;
}
.message__image {
  left: 24%;
}
.message__email {
  border: 2px solid #ffbaba;
  border-radius: 10px;
  height: 60px;
  width: 600px;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-top: 127px;
  outline: none;
  @media (max-width: 500px) {
    width: 300px;
  }
}
.message__button {
  background: #dd7979;
  border-radius: 10px;
  height: 56px;
  width: 600px;
  @media (max-width: 500px) {
    width: 300px;
  }
  div {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e5e5e5;
  }
}
.message__image_second {
  left: 72.64%;
  @media (max-width: 500px) {
    display: none;
  }
}
.message__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #744343;
}
.footer {
  background: url(../src/img/IMAGEBG.jpg), no-repeat center fixed #744343;
  width: 100%;
  height: 100%;
  background-size: 1000px 100%;
  @media (max-width: 500px) {
  }
  @media (min-width: 1024px) {
    height: 604px;
  }
}
.footer__container {
  max-width: 1174px;
  flex: 1 1 auto;
  @media (max-width: 640px) {
    padding-top: 20px;
  }
}
.footer__nav {
  max-width: 216px;
}
.footer__line {
  background: #995858;
  border-radius: 0px;
  height: 0.5px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  @media (max-width: 500px) {
    display: none;
  }
}
.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #fff4f4;
}
.footer__logo {
  @media (max-width: 400px) {
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffbaba;
}
.pages__item {
  font-family: "Montserrat";
}
.pages__title {
  color: #fff4f4;
  margin-bottom: 30px;
}
.styles__text {
  color: #fff4f4;
}
.certificate__button {
  color: #ffbaba;
  line-height: 30px;
}
.certificate__text {
  line-height: 30px;
}
.certificate__links {
  color: #ffbaba;
  line-height: 30px;
}
.links__bridge {
  color: #ffe2d4;
  line-height: 26px;
  font-size: 10px;
}
